@model IEnumerable<WebUmea.Models.DemoInstrument>





<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Manufacturer
            </th>
            <th>
                Model
            </th>
        </tr>
        <tr>
            <td>
                @item.InstrumentIds
            </td>
            <td>
                @item.InstrumentNames
            </td>
            <td>
                @item.InsManufacturer
            </td>
            <td>
                @item.InsModel
            </td>
        </tr>
        <tr>
            <th>Description</th>
        </tr>
        <tr>
            <td>@item.InsDescription</td>
        </tr>
             
    }
</table>

