@model IEnumerable<WebUmea.Models.DemoObject>

<table class="table" border="0" style="text-align:center; overflow-x:auto;">
    @*<thead><tr><th>Key</th><th>Title</th><th>Uncertainty Constributions</th></tr></thead>*@
    @{int tableNo = 1; }
    @foreach (var group in Model.GroupBy(c => c.ubID))
    {

        <tr>

            <th>
                Uncertainty Budget @(tableNo++) @Html.Hidden("GroupKey", @group.Key)

            </th>
            <th>
                <button type="submit" class="btn btn-outline-primary">@Html.ActionLink("AddRow", "AddContribution", new { id = group.Key })</button>
            </th>
            <th>
                <button type="submit" class="btn btn-danger">@Html.ActionLink("Delete", "RemoveUncertainty", new { id = group.Key })</button>
            </th>
        </tr>
        <tr>
            <th>Row Nr.</th>
            <th>Name</th>
            <th>Estimated Value</th>
            <th>Standard Uncertainty (Before)</th>
            <th>PdfId</th>
            <th>Sensitivity Coefficient</th>
            <th>Standard Uncertainty (After) </th>
            <th>Standard Uncertainty<sup>2</sup></th>
            <th>Operation</th>
            <th>
        </tr>

        
        foreach (var item in Model)
        {
            <tr>
            
                <td></td>
                <td>@item.coId</td>
                <td>@item.coSym</td>
                <td>@item.coName</td>
                <td>@item.coEstimatedValue</td>
                <td>@item.coStdUnc</td>
                <td>@item.Distribution</td>
                <td>@item.coSC</td>
             
            
            
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.coId })
                @Html.ActionLink("Delete", "Delete", new { id = item.coId })
            </td>
            </tr>
        }
        <tr>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td><b>Total Uncertainty:</b> </td>
            @*<td style="background-color:skyblue; "> @Math.Sqrt(Model.Sum(g => g.)).ToString("N3")</td>*@
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
    }
</table>



<table class="table" border="0" style="text-align:center">
    @*<thead><tr><th>Key</th><th>Title</th><th>Uncertainty Constributions</th></tr></thead>*@
 

        @foreach (var item in Model)
        {
            <tr>

                <td></td>
                <td>@item.coId</td>
                <td>@item.coSym</td>
                <td>@item.coName</td>
                <td>@item.coEstimatedValue</td>
                <td>@item.coStdUnc</td>
                <td>@item.Distribution</td>
                <td>@item.coSC</td>



                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.coId })
                    @Html.ActionLink("Delete", "Delete", new { id = item.coId })
                </td>
            </tr>
        }
        <tr>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td><b>Total Uncertainty:</b> </td>
            @*<td style="background-color:skyblue; "> @Math.Sqrt(Model.Sum(g => g.)).ToString("N3")</td>*@
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
    }
</table>