@model WebUmea.Models.Instrument

@{
    ViewBag.Title = "Instrument Sheet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <h4>Instrument</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InstrumentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstrumentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstrumentModel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstrumentModel)
        </dd>

        <dt>
           @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            <br /> @Html.Raw(Model.Description.ToString())
        </dd>

    </dl>
</div>
<p>



    <button type="submit" class="btn btn-primary"> @Html.ActionLink("Edit", "Details", new { Id = Model.InstrumentId }) </button>


    <button type="submit" class="btn btn-primary">@Html.ActionLink("Back to List", "Index")</button>
</p>
