@model List<WebUmea.Models.DemoGroup<int,WebUmea.Models.Contribution>>

<table class="table">
    @*<thead><tr><th>Key</th><th>Title</th><th>Uncertainty Constributions</th></tr></thead>*@
    
   @foreach (var group in Model)
    {
        <tr>
            <th>
            Uncertainty Budget Id: @group.Key
            </th>
            <th>
                <button type="submit" class="btn btn-outline-primary">@Html.ActionLink("AddRow", "AddContribution", new { id = group.Key })</button>
                <button type="submit" class="btn btn-danger">@Html.ActionLink("Delete", "RemoveUncertainty", new { id = group.Key })</button>
            </th>
        </tr>
        <tr>
            <th>ContributionId</th>
            <th>Name</th>
            <th>EstimatedValue</th>
            <th>PdfId</th>
            <th>SensitivityCoefficient</th>
            <th>StandardUncertainty</th>
            <th>Operation</th>
        </tr>
            foreach (var item in group.Values)
            {
        <tr>
            <td>@item.ContributionId</td>
            <td>@item.Name</td>
            <td>@item.EstimatedValue</td>
            <td>@item.PdfId</td>
            <td>@item.SensitivityCoefficient</td>
            <td>@item.StandardUncertainty</td>
            <td>
                
                 @Html.ActionLink("Edit", "Edit", new { id = item.ContributionId }) |
                 @Html.ActionLink("Delete", "Delete", new { id = item.ContributionId })
            </td>
        </tr>

            }
    }
</table>


