@model List<WebUmea.Models.DemoGroup<int, WebUmea.Models.Contribution>>

<table class="table" border="0" style="text-align:center">
    @*<thead><tr><th>Key</th><th>Title</th><th>Uncertainty Constributions</th></tr></thead>*@
    @{int tableNo = 1; }
    @foreach (var group in Model)
    {

        <tr>

            <th>
                Uncertainty Budget @(tableNo++) @Html.Hidden("GroupKey", @group.Key)

            </th>
         
        </tr>
        <tr>
            <th>Row Nr.</th>
            <th>Name</th>
            <th>Estimated Value</th>
            <th>Standard Uncertainty (Before)</th>
            <th>PdfId</th>
            <th>Sensitivity Coefficient</th>
            <th>Standard Uncertainty (After) </th>
            <th>Standard Uncertainty<sup>2</sup></th>
          
        </tr>


        int rowNo = 1;
        foreach (var item in group.Values)
        {
            <tr>
                <td>@(rowNo++)</td>
                <td>@Html.DisplayFor(co => item.Name)</td>
                <td>@item.EstimatedValue</td>
                <td>@item.StandardUncertainty</td>
                <td>@item.pdfId</td>
                <td>@item.SensitivityCoefficient</td>
                <td>@item.UncertaintyAfter_Calculation.ToString("N3")</td>
                <td>@item.RMS_UncertaintyAfter_Calculation.ToString("N3")</td>


            </tr>
        }
        <tr>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td><b>Total Uncertainty:</b> </td>
            <td style="background-color:skyblue; "> @Math.Sqrt(group.Values.Sum(g => g.RMS_UncertaintyAfter_Calculation)).ToString("N3")</td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
    }
</table>



