@model IEnumerable<WebUmea.Models.Instrument>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
</br>
<h2>Instrument List</h2>

</br>
<button type="submit" class="btn btn-outline-primary"> @Html.ActionLink("Add New Instrument", "CreateInstrument")</button>
</br>
</br>
<table class="table table-hover">
    <tr>
        <th>Instrument Id</th>
        <th>Instrument Name</th>
        <th>Instrument Manufacturer</th>
        <th>Instrument Model</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.ActionLink(item.InstrumentId.ToString(), "PageView", new { htmlAttributes = new { @class = "success", id = item.InstrumentId } })</td>
            <td>@Html.ActionLink(item.InstrumentName.ToString(), "PageView", new { id = item.InstrumentId })</td>
            <td>@Html.ActionLink(item.Manufacturer.ToString(), "PageView", new { id = item.InstrumentId })</td>
            <td>@Html.ActionLink(item.InstrumentModel.ToString(), "PageView", new { id = item.InstrumentId })</td>
        </tr>
    }
</table>
