@model WebUmea.Models.Instrument


@{
    ViewBag.Title = "Instrument Sheet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Instrument Sheet</h2>
</br>

<br />
<table class="table"  style="text-align:center">
    <tr>
        <th>Instrument Id</th>
        <th>Instrument Name</th>
        <th>Instrument Manufacturer</th>
        <th>Instrument Model</th>
   
    </tr>
    <tr>
        <td> @Html.DisplayFor(model => model.InstrumentId)</td>
        <td> @Html.DisplayFor(model => model.InstrumentName)</td>
        <td> @Html.DisplayFor(model => model.Manufacturer)</td>
        <td> @Html.DisplayFor(model => model.InstrumentModel)</td>
    </tr>
</table>
<br />
<br />
<table>
    <tr><th>@Html.DisplayNameFor(model => model.Description)</th></tr>
    <tr><td>@Html.Raw(Model.Description)</td> </tr>
    @*Html.DisplayFor(model => model.Description)*@

</table>
        <br />
        <br />
      
        <br />
        <br />

        @{ Html.RenderAction("UserInstrumentView");}




